{{define "base"}}
<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{template "title" .}} - To do list</title>
    <!-- Link to the CSS stylesheet and favicon -->
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel='stylesheet' href='/static/css/site.css'>
    <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
</head>
<body>
    <header>
         <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href='/'>Go</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href='/'>Home</a>
                            
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href='/'>Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section>
        <div class="container">
                <main role="main" class="pb-3">
                {{template "body" .}}
                </main>
        </div>
    </section>
        <footer class="border-top footer text-muted">
        <div class="container">
    <footer>Powered by <a href='https://golang.org/'>Go</a></footer> 
        </div>
    </footer>
    <!-- And include the JavaScript file --> 
    <script src="/static/js/site.js" type="text/javascript"></script>
</body>

</html>
{{end}}