{{define "footer"}} 
    <footer class="border-top footer text-muted">
        <div class="container">
<footer>Powered by <a href='https://golang.org/'>Go</a></footer> 
        </div>
    </footer>
{{end}}